.container{
  overflow:scroll;
}

.row{
  width:6000px;
}

.col-sm-3{
  padding:6px;
  width:300px !important;
}

.inner-col{
  border: 2px solid #ccc;
  padding: 10px;
  background-color: #fff;
  overflow-wrap: break-word;
  box-shadow: 0 0 10px 0px;
}

.image-frame{
  overflow: hidden;
  height: 200px;
  border: 1px solid #ccc;
  line-height: 200px;
  background: #000;
}

.image-frame img{
  width: 100%;
  vertical-align:center;
}
